.projects-section {
    text-align: center;
    margin-top: 50px;
    background-color: #fff;
}

.projects-section h2 {
    display: block;
    margin: auto;
    border-bottom: solid 1px #eee;
    padding: 20px;
    width: 80%;
}

.card-container {
    display:flex; 
    justify-content: space-evenly;
    margin-top: 50px;
}



.card {
    background-color: #fff;
    border: solid 1px plum;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(298, 77%, 49%, 0.177);
    padding:20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
}

.card .card-title {
    margin: 0;
    color: #FD6E0A;
}

.card .card-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card a {
    text-decoration: none;
    color: blueviolet;
}

.card a:hover {
    color:#FD6E0A;
}

@media screen and (max-width:769px){
    .card-container {
        display: block;
     
        margin:auto;
    } 
}

