.about {
    display: block;
    width: 650px;
    background-color: #fff;
    margin:auto;
    padding: 35px;
    border: solid 0.25px #A0A0A0;
}

.about-text {
    width: 75%;
    margin: auto;
}

.about h3 {
    color: var(--secondary-color); 
    text-align: center;
    padding-bottom: 25px;
}

@media screen and (max-width:769px){
    .about {
        width: 400px;
    }

}